/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "helveticaneuecyr-light"; src: url("../fonts/helveticaneuecyr-light.eot"); src: local("__"), url("../fonts/helveticaneuecyr-light.woff") format("woff"), url("../fonts/helveticaneuecyr-light.ttf") format("ttf"); font-weight: normal; font-style: normal; }

@font-face { font-family: "helveticaneuecyr-thin"; src: url("../fonts/helveticaneuecyr-light.eot"); src: local("__"), url("../fonts/helveticaneuecyr-thin.woff") format("woff"), url("../fonts/helveticaneuecyr-thin.ttf") format("ttf"); font-weight: normal; font-style: normal; }

@font-face { font-family: "helveticaneuecyr-roman"; src: url("../fonts/helveticaneuecyr-roman.eot"); src: local("__"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("ttf"); font-weight: normal; font-style: normal; }

@font-face { font-family: "helveticaneue-roman"; src: url("../fonts/helveticaneue-roman.eot"); src: local("__"), url("../fonts/helveticaneue-roman.ttf") format("ttf"), url("../fonts/helveticaneue-roman.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "didotltspro-roman"; src: url("../fonts/didotltspro-romanp2.eot"); src: local("__"), url("../fonts/didotltspro-romanp2.woff") format("woff"), url("../fonts/didotltspro-romanp2.ttf") format("ttf"); font-weight: normal; font-style: normal; }

@font-face { font-family: "didotltspro-bold"; src: url("../fonts/didotltspro-boldp2.eot"); src: local("__"), url("../fonts/didotltspro-boldp2.woff") format("woff"), url("../fonts/didotltspro-boldp2.ttf") format("ttf"); font-weight: normal; font-style: normal; }

@font-face { font-family: "didotltspro-italic"; src: url("../fonts/didotltspro-italicp2.eot"); src: local("__"), url("../fonts/didotltspro-italicp2.woff") format("woff"), url("../fonts/didotltspro-italicp2.ttf") format("ttf"); font-weight: normal; font-style: normal; }

@font-face { font-family: "helveticaneuecyr-medium"; src: url("../fonts/helveticaneuecyr-medium.eot"); src: local("__"), url("../fonts/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium.ttf") format("ttf"); font-weight: normal; font-style: normal; }

@font-face { font-family: "bodoni-bol-italic"; src: url("../fonts/bodonianttdembol_italic.eot"); src: local("__"), url("../fonts/bodonianttdembol_italic.woff") format("woff"), url("../fonts/bodonianttdembol_italic.ttf") format("ttf"); font-weight: normal; font-style: normal; }

body { font-size: 13px; font-family: Arial, sans-serif; line-height: 1.4; font-family: "helveticaneuecyr-roman", Arial, sans-serif; }

.t1 { font-size: 30px; text-transform: uppercase; font-family: "didotltspro-bold", Arial, sans-serif; }

.t2 { font-size: 20px; font-family: "helveticaneuecyr-light", Arial, sans-serif; }

.wrapper { margin: 0 auto; width: 945px; }

.header { padding: 30px 0; height: 180px; line-height: 1; text-transform: uppercase; font-size: 64.85px; background: #2c3e77; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "didotltspro-bold", Arial, sans-serif; }

.header__top { padding-left: 100px; color: white; }

.header__bottom { padding-left: 204px; color: #fff14c; }

.img { display: block; }

.btn { padding: 17px 20px 17px 45px; color: white; cursor: pointer; display: inline-block; text-decoration: none; }
.btn:hover { background: #9a358b; }
.btn:active { position: relative; top: 2px; }

.btn_red { position: relative; width: 362px; font-size: 30.42px; text-transform: uppercase; background-color: #f92f39; -webkit-box-shadow: 0 1px 8px rgba(187, 18, 18, 0.44); -moz-box-shadow: 0 1px 8px rgba(187, 18, 18, 0.44); box-shadow: 0 1px 8px rgba(187, 18, 18, 0.44); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #d71515), color-stop(100%, #f92f39)); background-image: -webkit-linear-gradient(bottom, #d71515 0%, #f92f39 100%); background-image: -moz-linear-gradient(bottom, #d71515 0%, #f92f39 100%); background-image: -o-linear-gradient(bottom, #d71515 0%, #f92f39 100%); background-image: linear-gradient(bottom, #d71515 0%, #f92f39 100%); font-family: "helveticaneuecyr-light", Arial, sans-serif; }
.btn_red:before { position: absolute; content: ""; top: -30px; left: -66px; z-index: -1; background: url('../img/icons-scb886fccc6.png') 0 0 no-repeat; width: 468px; height: 135px; }
.btn_red:active:before { top: -32px; }

.btn__pink { padding: 10px 20px; font-size: 15px; background-color: #f92d9b; -webkit-box-shadow: 0 1px 8px rgba(216, 21, 127, 0.44); -moz-box-shadow: 0 1px 8px rgba(216, 21, 127, 0.44); box-shadow: 0 1px 8px rgba(216, 21, 127, 0.44); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #d7157f), color-stop(100%, #f92d9b)); background-image: -webkit-linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); background-image: -moz-linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); background-image: -o-linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); background-image: linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); font-family: "helveticaneuecyr-medium", Arial, sans-serif; }

.btn__blue { padding: 12px 50px; font-size: 15px; background-color: #3a519d; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #2b3d77), color-stop(100%, #3a519d)); background-image: -webkit-linear-gradient(bottom, #2b3d77 0%, #3a519d 100%); background-image: -moz-linear-gradient(bottom, #2b3d77 0%, #3a519d 100%); background-image: -o-linear-gradient(bottom, #2b3d77 0%, #3a519d 100%); background-image: linear-gradient(bottom, #2b3d77 0%, #3a519d 100%); font-family: "helveticaneuecyr-medium", Arial, sans-serif; }

.btn__blue_mod { margin: 0 auto; padding: 10px 34px; display: block; -webkit-box-shadow: 0 1px 8px rgba(44, 62, 119, 0.44); -moz-box-shadow: 0 1px 8px rgba(44, 62, 119, 0.44); box-shadow: 0 1px 8px rgba(44, 62, 119, 0.44); }

.btn_sin { background-color: #3a519d; -webkit-box-shadow: 0 1px 8px rgba(44, 62, 119, 0.44); -moz-box-shadow: 0 1px 8px rgba(44, 62, 119, 0.44); box-shadow: 0 1px 8px rgba(44, 62, 119, 0.44); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #2b3d77), color-stop(100%, #3a519d)); background-image: -webkit-linear-gradient(bottom, #2b3d77 0%, #3a519d 100%); background-image: -moz-linear-gradient(bottom, #2b3d77 0%, #3a519d 100%); background-image: -o-linear-gradient(bottom, #2b3d77 0%, #3a519d 100%); background-image: linear-gradient(bottom, #2b3d77 0%, #3a519d 100%); height: 36px; line-height: 36px; font-size: 14px; padding: 0 27px; color: white !important; font-size: 15px; }

.footer { padding: 7px 0 8px; height: 51px; background: #ededed; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.copyright { float: left; margin-top: 12px; font-family: "helveticaneue-roman", Arial, sans-serif; }

.footer__right { float: right; }

.footer__logo { float: right; display: block; background: url('../img/icons-scb886fccc6.png') 0 -335px no-repeat; width: 118px; height: 36px; }

.soc { float: right; margin: 10px 0 0 100px; display: inline-block; vertical-align: top; *zoom: 1; }
.soc:after { content: " "; display: table; clear: both; }
.soc li { position: relative; float: left; margin-left: 15px; width: 10px; min-height: 14px; display: block; *zoom: 1; }
.soc li:after { content: " "; display: table; clear: both; }
.soc li a { position: absolute; top: 0; display: inline-block; }
.soc li .soc__vk { top: 2px; background: url('../img/icons-scb886fccc6.png') 0 -844px no-repeat; width: 12px; height: 14px; }
.soc li .soc__od { background: url('../img/icons-scb886fccc6.png') 0 -766px no-repeat; width: 13px; height: 18px; }
.soc li .soc__f { background: url('../img/icons-scb886fccc6.png') 0 -868px no-repeat; width: 12px; height: 18px; }
.soc li .soc__mail { top: 2px; background: url('../img/icons-scb886fccc6.png') 0 -820px no-repeat; width: 20px; height: 14px; }

.overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; cursor: pointer; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; background: rgba(255, 255, 255, 0.8); }

.popap { position: absolute; top: 112px; left: 50%; margin-left: -222.5px; padding: 38px 50px 46px; width: 445px; text-align: center; z-index: 100; border: 10px solid #da2185; border: 10px solid rgba(216, 21, 127, 0.6); background-color: white; font-family: "helveticaneuecyr-light", Arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.popap .popap__close { position: absolute; top: 16px; right: 16px; cursor: pointer; background: url('../img/icons-scb886fccc6.png') 0 -946px no-repeat; width: 18px; height: 18px; }
.popap .btn { margin: 15px 0 0; }
.popap .btn__blue { margin: 0; }
.popap p { padding-top: 20px; font-size: 13px; }
.popap p a { color: #d8157f; text-decoration: none; }
.popap p a:hover { text-decoration: underline; }

.btn__text { position: relative; margin-left: -12px; margin-right: 45px; padding-left: 24px; font-size: 16px; line-height: 1.3; color: #d8157f; background: white; text-decoration: none; font-family: "helveticaneuecyr-medium", Arial, sans-serif; }
.btn__text:before { position: absolute; content: ""; left: 0; top: 2px; background: url('../img/icons-scb886fccc6.png') 0 -974px no-repeat; width: 10px; height: 16px; }
.btn__text:hover { text-decoration: underline; }

.btn__text_mod { padding-right: 10px; line-height: 1.5; vertical-align: top; }
.btn__text_mod:before { top: 5px; left: 100%; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.popap__title { padding-bottom: 20px; color: #2c3e77; font-size: 24px; text-transform: uppercase; }

.popap__title_pb { padding-bottom: 10px; }

.popap__inf { font-size: 15px; font-family: "helveticaneuecyr-roman", Arial, sans-serif; }

.popap__form { margin: 30px auto; width: 289px; text-align: left; }
.popap__form p { padding: 0; color: #d8157f; }
.popap__form a { color: #d8157f; }
.popap__form a:hover { text-decoration: none; }
.popap__form p, .popap__form a, .popap__form span { font-style: italic; }

.input { margin: 5px 0; padding: 0 10px; width: 100%; height: 33px; background-color: whitesmoke; -webkit-box-shadow: inset 0 1px 3px rgba(0, 1, 1, 0.15); -moz-box-shadow: inset 0 1px 3px rgba(0, 1, 1, 0.15); box-shadow: inset 0 1px 3px rgba(0, 1, 1, 0.15); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.input:focus { outline: none; }

.exit-button { text-align: center; padding: 14px 0; }
.exit-button .btn { padding-left: 50px; padding-right: 50px; }

.l { padding: 36px 0 0; min-height: 715px; *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 49%; }
.l .l-col1_top { min-height: 710px; background: url("../img/arr1.png") no-repeat 48% 100%; }
.l .l-col1_bot { min-height: 560px; background: url("../img/arr2.png") no-repeat 48% 100%; }
.l .l-col2 { float: right; padding: 0 0 18px 24px; width: 48%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.l-col1 .btn_red { margin: 0 auto; display: block; }

.l_botb { background: url("../img/bor-pic.png") repeat-x 0 100%; }

.l-col1_bot + .l-col2 p { padding: 5px 0; }
.l-col1_bot + .l-col2 .t2 { padding: 28px 0 10px; }

.stage { padding: 0 24px 26px; width: 431px; border: 1px solid white; background-color: white; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13); box-shadow: 0 0 8px rgba(0, 0, 0, 0.13); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.stage_reg { padding: 0; position: relative; }
.stage_reg .stage__message { background-color: white; background: rgba(255, 255, 255, 0.9); z-index: 20; position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding: 188px 25px 10px 25px; text-align: center; font-size: 14px; line-height: 1.5; }
.stage_reg .stage__message p { margin-bottom: 1em; }
.stage_reg .stage__message p strong { font-family: "helveticaneuecyr-medium", Arial, sans-serif; }
.stage_reg .stage__morelink { font-size: 18px; color: #d61f7f; }
.stage_reg .stage__morelink i { display: inline-block; background: url('../img/icons-scb886fccc6.png') 0 -533px no-repeat; width: 9px; height: 10px; margin-right: 14px; }

.stage__col { padding: 24px 55px; }

.stage__row { padding-top: 32px; *zoom: 1; }
.stage__row:after { content: " "; display: table; clear: both; }

.stage__number { float: left; font-size: 71.11px; line-height: 0.95; color: #d8157f; display: inline-block; font-family: "didotltspro-bold", Arial, sans-serif; }

.stage__conditions { float: left; padding-left: 10px; width: 324px; }
.stage__conditions p { padding-left: 10px; }
.stage__conditions a { color: #d8157f; }
.stage__conditions .btn__pink { margin: 25px 0; }

.stage__title { padding-bottom: 9px; font-size: 17px; color: #2c3e77; text-transform: uppercase; }

.stage__title_black { padding-top: 26px; color: black; }

.stage__exception { color: #585858; font-size: 11px; letter-spacing: 0; }

.stage__links { position: relative; margin: 16px 20px 0 0; padding-left: 36px; color: black; font-size: 14px; text-decoration: underline; display: inline-block; font-family: "helveticaneuecyr-medium", Arial, sans-serif; }
.stage__links:hover { text-decoration: none; }
.stage__links:before { position: absolute; content: ""; top: -5px; left: 0; background: url('../img/icons-scb886fccc6.png') 0 -727px no-repeat; width: 29px; height: 29px; }
.stage__links.stage__links_back:before { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }

.soc-like { margin: 22px 0; *zoom: 1; }
.soc-like:after { content: " "; display: table; clear: both; }
.soc-like li { cursor: pointer; display: block; float: left; }
.soc-like .f-l { background: url('../img/icons-scb886fccc6.png') 0 -381px no-repeat; width: 98px; height: 35px; }
.soc-like .vk-l { background: url('../img/icons-scb886fccc6.png') 0 -291px no-repeat; width: 150px; height: 34px; }
.soc-like .od-l { background: url('../img/icons-scb886fccc6.png') 0 -471px no-repeat; width: 123px; height: 29px; }

.luck { position: relative; margin: 38px 0 65px; padding-left: 110px; font-size: 18px; }
.luck:before { position: absolute; content: ""; top: -10px; left: -40px; background: url('../img/icons-scb886fccc6.png') 0 -145px no-repeat; width: 140px; height: 136px; }
.luck a { color: #d8157f; font-weight: bold; text-transform: uppercase; }
.luck a:hover { text-decoration: none; }
.luck p { line-height: 1; font-family: "didotltspro-italic", Arial, sans-serif; }

.stage__user { padding: 15px 0 10px; font-size: 20px; font-style: italic; font-family: "didotltspro-roman", Arial, sans-serif; }

.stage__user + p { font-size: 14px; }

.code { *zoom: 1; background: #fff14c; padding: 10px 0 10px 56px; }
.code:after { content: " "; display: table; clear: both; }
.code input { outline: none; font-family: "bodoni-bol-italic", Arial, sans-serif; font-size: 37px; border: none; background: white; border: none; border-right: 1px solid #ececec; float: left; width: 43px; margin: 0px; padding: 0px; text-align: center; height: 47px; line-height: 45px; }
.code input:-moz-placeholder, .code input::-moz-placeholder { color: black; opacity: 1; }
.code input::-webkit-input-placeholder { color: black; }
.code input:-ms-input-placeholder { font-weight: 700; font-family: "bodoni-bol-italic", Arial, sans-serif; }
.code input:-moz-placeholder { font-weight: 700; font-family: "bodoni-bol-italic", Arial, sans-serif; }
.code input::-moz-placeholder { font-weight: 700; font-family: "bodoni-bol-italic", Arial, sans-serif; }
.code input::-webkit-input-placeholder { font-weight: 700; font-family: "bodoni-bol-italic", Arial, sans-serif; }
.code input::placeholder { font-weight: 700; font-family: "bodoni-bol-italic", Arial, sans-serif; }
.code input:focus { font-size: 0; }

.stage__cod { margin: 0 0 0 -1px; padding-top: 10px; width: 100.5%; height: 64px; text-align: center; font-size: 0; background: #fff14c; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.stage__cod li { height: 44px; width: 44px; font-size: 39px; font-weight: bold; border-left: 1px solid #ebebeb; background: white; display: inline-block; font-family: "bodoni-bol-italic", Arial, sans-serif; }
.stage__cod li:first-child { border: none; }

.state__number { margin: 12px 0 10px; text-align: center; }
.state__number i { display: inline-block; vertical-align: middle; }
.state__number input { vertical-align: middle; margin-left: 10px; padding: 4px; }

.is-error .error { visibility: visible; }
.is-error .input-code { border: 1px solid red; color: red; }

.error { visibility: hidden; color: red; margin-bottom: 10px; display: block; text-align: center; }
.error input { margin-left: 38px; padding: 0 10px; width: 84px; height: 32px; font-size: 14px; border: 1px solid #e7e7e7; vertical-align: top; background-color: white; display: inline-block; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.error input:-moz-placeholder, .error input::-moz-placeholder { color: #c3c3c3; opacity: 1; }
.error input::-webkit-input-placeholder { color: #c3c3c3; }
.error input:focus:-ms-input-placeholder { font-size: 0; }
.error input:focus:-moz-placeholder { font-size: 0; }
.error input:focus::-moz-placeholder { font-size: 0; }
.error input:focus::-webkit-input-placeholder { font-size: 0; }
.error input:focus::placeholder { font-size: 0; }

.stage__block { padding: 44px 17px 27px; }

.ui-row { position: relative; width: 100%; display: inline-block; }
.ui-row:before { position: absolute; content: ""; right: 0; top: 5px; height: 33px; width: 19px; background-color: #eb0b6d; z-index: 100; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #d7157f), color-stop(100%, #f92d9b)); background-image: -webkit-linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); background-image: -moz-linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); background-image: -o-linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); background-image: linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); }
.ui-row:after { position: absolute; content: ""; right: 6px; top: 20px; width: 0px; height: 0px; border-style: solid; border-width: 4px 3.5px 0 3.5px; border-color: white transparent transparent transparent; z-index: 200; }
.ui-row input { text-transform: capitalize; }

.ui-autocomplete { max-height: 61px; width: 270px !important; z-index: 3000; overflow: auto; display: none; background-color: white; -webkit-box-shadow: 0 1px 2px rgba(0, 1, 1, 0.14); -moz-box-shadow: 0 1px 2px rgba(0, 1, 1, 0.14); box-shadow: 0 1px 2px rgba(0, 1, 1, 0.14); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ui-autocomplete .ui-menu-item { padding: 4px 0 4px 11px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ui-autocomplete .ui-menu-item:hover { background: rgba(232, 115, 178, 0.6); }

.ui-helper-hidden-accessible { display: none; }

.select { position: relative; cursor: pointer; }
.select:before { position: absolute; content: ""; right: 0; top: 0; height: 33px; width: 19px; background-color: #eb0b6d; z-index: 100; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #d7157f), color-stop(100%, #f92d9b)); background-image: -webkit-linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); background-image: -moz-linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); background-image: -o-linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); background-image: linear-gradient(bottom, #d7157f 0%, #f92d9b 100%); }

.select__text { position: relative; margin: 5px 0; padding: 0 10px; width: 100%; height: 33px; line-height: 33px; font-style: normal !important; display: block; cursor: text; background-color: whitesmoke; -webkit-box-shadow: inset 0 1px 3px rgba(0, 1, 1, 0.15); -moz-box-shadow: inset 0 1px 3px rgba(0, 1, 1, 0.15); box-shadow: inset 0 1px 3px rgba(0, 1, 1, 0.15); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.select__text:before { position: absolute; content: ""; right: 6px; top: 15px; width: 0px; height: 0px; border-style: solid; border-width: 4px 3.5px 0 3.5px; border-color: white transparent transparent transparent; z-index: 200; }

.select__list { position: absolute; left: 0; top: 33px; width: 100%; max-height: 61px; width: 93.5%; z-index: 300; overflow: auto; display: none; background-color: white; -webkit-box-shadow: 0 1px 2px rgba(0, 1, 1, 0.14); -moz-box-shadow: 0 1px 2px rgba(0, 1, 1, 0.14); box-shadow: 0 1px 2px rgba(0, 1, 1, 0.14); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.select__list li { padding: 4px 0 4px 11px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.select__list li:hover { background: rgba(232, 115, 178, 0.6); }

.popap__form_bot { margin-top: 0; margin-bottom: 0; }

.popap__form_ib { margin: 0; width: 142px; display: inline-block; }

.popap__form_mod { margin-top: 0; margin-bottom: 0; }
.popap__form_mod .state__number { margin: 0 0 15px 0; *zoom: 1; }
.popap__form_mod .state__number:after { content: " "; display: table; clear: both; }
.popap__form_mod .state__number i { float: left; }
.popap__form_mod .state__number a { padding-top: 8px; font-size: 11px; font-style: normal; float: right; }

.checkbox { position: relative; margin-bottom: 30px; padding-left: 22px; width: 100%; cursor: pointer; display: block; *zoom: 1; }
.checkbox:after { content: " "; display: table; clear: both; }
.checkbox span, .checkbox input { position: absolute; left: 0; top: 2px; display: block; background: url('../img/icons-scb886fccc6.png') 0 -920px no-repeat; width: 16px; height: 16px; }

input[type="checkbox"]:checked + span { background: url('../img/icons-scb886fccc6.png') 0 -794px no-repeat; width: 16px; height: 16px; }

.checkbox_mod { margin-right: 20px; width: auto; display: inline-block; }

.btn__blue_w { margin-right: -16px; padding: 9px 0; height: 36px; width: 180px; }

.input_w53 { width: 53px; font-size: 12px; vertical-align: top; display: inline-block; }
.input_w53:-moz-placeholder, .input_w53::-moz-placeholder { color: black; opacity: 1; }
.input_w53::-webkit-input-placeholder { color: black; }
.input_w53:-ms-input-placeholder { font-size: 12px; font-family: "helveticaneuecyr-medium", Arial, sans-serif; }
.input_w53:-moz-placeholder { font-size: 12px; font-family: "helveticaneuecyr-medium", Arial, sans-serif; }
.input_w53::-moz-placeholder { font-size: 12px; font-family: "helveticaneuecyr-medium", Arial, sans-serif; }
.input_w53::-webkit-input-placeholder { font-size: 12px; font-family: "helveticaneuecyr-medium", Arial, sans-serif; }
.input_w53::placeholder { font-size: 12px; font-family: "helveticaneuecyr-medium", Arial, sans-serif; }

.select_w150 { width: 150px; margin: 0 12px 0 13px; vertical-align: top; display: inline-block; }
.select_w150:before { top: 5px; }
.select_w150 .select__list { top: 38px; }

.soc2 { float: left; display: inline-block; margin-top: 5px; }
.soc2 li { margin-right: 8px; cursor: pointer; display: inline-block; }
.soc2 .vk2 { background: url('../img/icons-scb886fccc6.png') 0 -613px no-repeat; width: 28px; height: 28px; }
.soc2 .od2 { background: url('../img/icons-scb886fccc6.png') 0 -689px no-repeat; width: 28px; height: 28px; }
.soc2 .f2 { background: url('../img/icons-scb886fccc6.png') 0 -651px no-repeat; width: 28px; height: 28px; }

.block-bot { text-align: left; *zoom: 1; }
.block-bot:after { content: " "; display: table; clear: both; }
.block-bot .btn__text_mod { float: right; margin-right: 5px; }

.popap__form_mb { margin-bottom: 0; }

.rules { padding: 28px 0; font-size: 12px; color: #444444; }
.rules p { margin-bottom: 1em; }
.rules h2 { text-transform: uppercase; font-size: 18px; color: #2d4075; margin-bottom: 21px; font-weight: normal; }
.rules h3 { font-size: 15px; font-weight: bold; font-family: "helveticaneuecyr-light", Arial, sans-serif; color: #787878; margin-bottom: 10px; }
.rules ul { list-style-type: disc; margin: 10px 0 10px 20px; }
.rules p + h3 { margin-top: 20px; }

.win { padding: 30px 20px 10px 24px; }
.win .win__title { font-family: "didotltspro-roman", Arial, sans-serif; font-size: 20px; font-weight: normal; color: black; margin-bottom: 10px; font-style: italic; }
.win .win__title span { font-size: 15px; display: block; font-style: normal; font-family: "helveticaneuecyr-roman", Arial, sans-serif; }
.win .win__title strong { font-family: "helveticaneuecyr-medium", Arial, sans-serif; display: block; font-weight: bold; }
.win .win__check { text-align: center; }
.win a { color: #d61f7f; }
.win p { margin-bottom: 1em; }
.win strong { font-family: "helveticaneuecyr-medium", Arial, sans-serif; }

.prize .prize__title { color: #d61f7f; font-size: 17px; margin-bottom: 10px; font-weight: normal; }
.prize .prize__img { text-align: center; margin: 10px 0; }
.prize .prize__note { font-size: 11px; padding-top: 10px; margin-top: 12px; border-top: 1px solid #cacaca; margin-bottom: 14px; }

.stage__button { text-align: center; margin: 30px 0; }

.hello { margin-bottom: 100px; font-size: 14px; padding-top: 70px; }
.hello span { display: block; color: #24284d; text-transform: uppercase; font-weight: normal; margin-bottom: 4px; font-size: 18px; }
.hello em { font-family: "didotltspro-roman", Arial, sans-serif; display: block; font-size: 20px; }
.hello p { margin-top: 12px; }

.overlay { position: fixed; }

.faq { position: absolute; top: 50%; left: 50%; padding: 28px 14px 28px 28px; width: 849px; height: 362px; background-color: #2c3e77; border: 11px solid #abb2c9; border: 11px solid rgba(44, 62, 119, 0.4); margin-top: -209px; margin-left: -452px; background: white; z-index: 1000; }
.faq .faq__close { position: absolute; top: 16px; right: 16px; background: url('../img/icons-scb886fccc6.png') 0 -510px no-repeat; width: 13px; height: 13px; cursor: pointer; }
.faq .faq__data { display: inline-block; margin-right: 40px; font-size: 14px; color: #787878; margin-bottom: 24px; }
.faq .faq__data strong { font-weight: normal; font-size: 20px; color: #333333; }

.faq__all { position: relative; padding-top: 20px; height: 3px; overflow: auto; height: 280px; width: 100%; }
.faq__all:before { position: absolute; content: ""; top: 0; left: 0; height: 1px; width: 98%; background: #e3e3e3; }
.faq__all h3 { font-size: 18px; font-weight: normal; color: #333333; margin-bottom: 24px; }
.faq__all dl { margin-bottom: 10px; }
.faq__all dl dt { font-size: 15px; color: #777778; padding-left: 10px; position: relative; cursor: pointer; }
.faq__all dl dt:before { position: absolute; left: 0; top: 50%; margin-top: -4px; background: url('../img/icons-scb886fccc6.png') 0 -583px no-repeat; width: 4px; height: 5px; content: " "; }
.faq__all dl dd { display: none; font-size: 12px; margin-top: 10px; padding-left: 10px; padding-right: 100px; }
.faq__all dl.is-active dt { color: #2d4075; }
.faq__all dl.is-active dt:before { background: url('../img/icons-scb886fccc6.png') 0 -598px no-repeat; width: 6px; height: 5px; }
.faq__all dl.is-active dd { display: block; }

.scrollblock { overflow: hidden; }

.jspContainer { overflow: hidden; position: relative; }

.jspPane { position: absolute; }

.jspVerticalBar { position: absolute; padding: 4px 0; top: 8px; right: 0; width: 11px; height: 100%; background: #f0e7ff; }

.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 10px; background: #dbdbdb; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }

.jspCap { display: none; }

.jspHorizontalBar .jspCap { float: left; }

.jspTrack { position: relative; background: #f0e7ff; }

.jspDrag { background: #2c3e77; position: relative; top: 3px; bottom: 3px; left: 3px; width: 5px; cursor: pointer; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; transition: all linear 0.2s; -moz-transition: all linear 0.2s; -webkit-transition: all linear 0.2s; -o-transition: all linear 0.2s; }

.jspDrag:hover { background: rgba(0, 0, 0, 0.6); }

.jspDrag:active { background: rgba(0, 0, 0, 0.8); }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }

.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; }

.jspArrow.jspDisabled { cursor: default; background: #80808d; }

.jspVerticalBar .jspArrow { height: 16px; }

.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }

.jspVerticalBar .jspArrow:focus { outline: none; }

.jspCorner { background: #eeeef4; float: left; height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0; }

.stats { padding: 30px 0 205px; font-size: 14px; }
.stats p { margin-bottom: 1em; }

.stats__bottom { padding-top: 15px; *zoom: 1; }
.stats__bottom:after { content: " "; display: table; clear: both; }
.stats__bottom .btn { float: right; }

.stats__back { position: relative; float: left; padding-left: 36px; color: black; font-size: 14px; text-decoration: underline; display: inline-block; margin-top: 10px; font-family: "helveticaneuecyr-medium", Arial, sans-serif; }
.stats__back:hover { text-decoration: none; }
.stats__back:before { position: absolute; content: ""; top: -5px; left: 0; background: url('../img/icons-scb886fccc6.png') 0 -727px no-repeat; width: 29px; height: 29px; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }

.stats__scroll { background: #f6f6f6; padding: 20px; overflow: auto; max-height: 428px; }
.stats__scroll table { width: 100%; border-spacing: 0; border-collapse: collapse; }
.stats__scroll table th { text-transform: uppercase; color: #d61f7f; font-weight: normal; border-bottom: 1px solid #c5c5c5; }
.stats__scroll table td { border-top: 1px solid #c5c5c5; }
.stats__scroll table td, .stats__scroll table th { text-align: center; padding: 11px 0; font-size: 16px; }
.stats__scroll table td strong, .stats__scroll table th strong { font-family: "helveticaneuecyr-medium", Arial, sans-serif; }
.stats__scroll table td:first-child, .stats__scroll table td:last-child, .stats__scroll table th:first-child, .stats__scroll table th:last-child { width: 140px; }
.stats__scroll .jspVerticalBar { right: 6px; background: #e9e9e9; }
.stats__scroll .jspTrack { background: #e9e9e9; }
